# Ignore temporary Word documents
~$*

# A personal directory to store things related to the project
# that you might not want to be pushed to the repository
personal

# Ignore node_modules
node_modules